div{
    background: blue;
    height: 200px;
    width: 200px;
}
.formulario_div{
    width: 90%;
}

.formulario{
    background: red;
    padding: 10px;
    margin:10px;
}

.formulario_input{
    padding: 10px;
}